.CategoryItem {
  color: rgb(52,232,252);
  text-align: center;
  width: 12vw;
  height: 8vh;
  background-color: rgb(80,64,144);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.3s ease-in;
  /* transform: scale(1);
  z-index: 0; */
}

.active {
  transform: translateY(30%);
  background-color: rgb(252, 52, 112);
  /* transform: scale(1.2);
  z-index: 1; */
}