.Details {
  margin-left: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Details h2 {
  color: var(--silver);
  text-shadow: 9px 6px 4px rgba(0, 0, 0, 0.2);
}

.Details .info_block {
  width: 65vw;
  display: flex;
  justify-content: start;
  margin-top: 2%;
  background-color: rgb(249, 242, 242, 0.2);
  padding: 3%;
  border-radius: 5px;
  box-shadow: 0 0px 6px 5px rgba(0, 0, 0, 0.3);
}

.Details .info_block__text {
  color: var(--carbon);
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}

.Details .info_block__text p {
  padding-top: calc(var(--padding) * 3);
}

.Details .info_block__text a {
  text-decoration: none;
  color: var(--silver);
}

.Details .info_block img {
  width: 60%;
  height: 60%;
  border-radius: 3px;
  filter: grayscale(1);
}

.Details .pic_info h3 {
  color: var(--carbon);
}
