.Details {
  margin-left: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Details .pic_info {
  display: flex;
  flex-direction: row;
}

.Details img {
  width: 80%;
  height: 80%;
}