.Details {
  margin-left: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Details h2 {
  color: var(--silver);
}

.Details .info_block {
  width: 65vw;
  display: flex;
  margin-top: 5%;
  background-color:rgb(249, 242, 242, 0.2);
  padding: 3%;
  border-radius: 20px;
}

.Details .info_block__text {
  color: var(--carbon);
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}

.Details .info_block__text p {
  padding-top: calc(var(--padding) * 3);
}

.Details .info_block__text a {
  text-decoration: none;
  color: var(--silver);
}

.Details .info_block img {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  filter: grayscale(1);
}

.Details .pic_info h3 {
  color: var(--carbon);
}
