.Loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.arrow {
  margin-top: 5%;
  animation: arrow 1s ease-in-out infinite;
}

@keyframes arrow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
