.CategoriesList {
  width: 65vw;
  background-color: #bdb8b8;
  margin: 0 auto;
  margin-bottom: 2%;
  padding: 1% 0;
  display: flex;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}
