.NavBar {
  position: fixed;
  width: 10vw;
  min-width: 80px;
  height: 100vh;
  background-color: var(--carbon);
  box-shadow: 0 0px 6px 5px rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.NavBar .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200%;
  height: 100%;
  top: 0;
  background-color: var(--carbon);
  box-shadow: 0 0px 6px 5px rgba(0, 0, 0, 0.4);
  z-index: 1;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.35s ease-in-out;
}

.NavBar .content__opened {
  opacity: 1;
  transform: translateX(0);
}

.NavBar .avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1vw;
  margin-top: 1vh;
}

.NavBar .avatar img {
  width: 10vw;
  min-width: 90px;
  min-height: 90px;
  border-radius: 50%;
  box-shadow: 0px 0px 9px 7px rgba(155, 118, 118, 0.5);
}

.NavBar .avatar .details {
  color: var(--silver);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1vh;
  margin-right: 1vw;
}

.NavBar .avatar a {
  color: var(--silver);
  text-decoration: none;
}

.NavBar .links {
  padding-top: calc(var(--padding) * 2);
  align-self: center;
  margin-top: 3vh;
  border-top: 5px solid var(--silver);
}

.NavBar .links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NavBar .links li {
  list-style-type: none;
  padding-top: calc(var(--padding) * 3);
}

.NavBar .links a {
  text-decoration: none;
  color: var(--silver);
  font-size: 4vmin;
}
