:root {
  --silver: rgb(191, 219, 215);
  --carbon:  #625D5D;
  --sand: #938b8b;
  --orange: rgb(224, 99, 26);
  --pine: #0d6752;

  --padding: 1.5%;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--sand); */
  /* background-image: linear-gradient(to right top, #dadada, #c7c6c7, #b5b2b4, #a49ea0, #938b8b);
  background-image: linear-gradient(to left bottom, #0d6752, #3c9e68, #4eb07f, #a5d138, #f6ec12); */
  background-image: linear-gradient(to right top, #8bf0bb, #6bcca0, #4da986, #2f876c, #0d6752);
}

h1 {
  font-size: 12vmin;
}

h2 {
  font-size: 5vmin;
}

h3 {
  font-size: 3vmin;
}

h4, a, p, li {
  font-size: 2vmin;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
