:root {
  --silver: rgb(191, 219, 215);
  --carbon:  #625D5D;
  --sand: #938b8b;
  --orange: rgb(224, 99, 26);
  --pine: #0d6752;

  --padding: 1.5%;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right top, #8bf0bb, #6bcca0, #4da986, #2f876c, #0d6752);
}

h1 {
  font-size: 12vmin;
}

h2 {
  font-size: 5vmin;
}

h3 {
  font-size: 3vmin;
}

h4, a, p, li {
  font-size: 2vmin;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
